{% extends "layout.html" %} <!-- adding the created layout -->
{% block content %}

<form action="." method="POST" class="text-center"> <!-- creating a listed form with all the names in datasheet -->
    <div class="form-group text-center">
        <label>Search for your name</label>
        <select name="list_name" class="form-control" id="form-name">
            {% for name in message %} <!-- searching for the names -->
            <option name={{name}}>{{ name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary text-center">OK</button>
</form>

{% endblock %}