{% extends "layout.html" %} <!-- adding the created layout -->
{% block content %}

<!-- Edit button allowing to modify the template -->
<form action="{{ url_for('redirect_to_edit', name=name) }}" method="POST" class="text-center">
    <div class="text-center pull-left">
        <button name="edit_button" type="submit" class="btn btn-secondary">Edit</button>
    </div>
</form>

<!-- we get all info of the person and present it -->
<div class="text-center">
    <!-- changing the title depending of the gender of a person -->
    {% if template['GENDER'] == "Female" %}
        <h2> Welcome Ms.{{ all_info['SURNAME'] }} {{ all_info['FIRST_NAME'] }} ! </h2>
    {% elif template['GENDER'] == "Male" %}
        <h2> Welcome Mr.{{ all_info['SURNAME'] }} {{ all_info['FIRST_NAME'] }} ! </h2>
    {% else %}
        <h2> Welcome {{ all_info['SURNAME'] }} {{ all_info['FIRST_NAME'] }} ! </h2>
    {% endif %}

    <p> You are {{ all_info['AGE'] }} years old and you live in {{ all_info['CITY'] }}.</p>
    <p> You work as a {{ all_info['WORK'] }}.</p>
    {% if template['PRESENTATION_TEXT'] != "" %}
    <p>{{ template['PRESENTATION_TEXT'] }}</p>
    {% endif %}

    <a href="{{ url_for('index') }}"> Previous page </a> <!-- linked to the index page -->
</div>
{% endblock %}