{% extends "layout.html" %} <!-- adding the created layout -->
{% block content %}

 <!-- we get all info of the person and present it -->
<div class="text-center">
    <h2> Welcome {{ message.get('SURNAME') }} {{ message.get('FIRST_NAME') }} ! </h2>
    <p> You are {{ message.get('AGE') }} years old and you live in {{ message.get('CITY') }}.</p>
    <p> You work as a {{ message.get('WORK') }}.</p>
    <a href="{{ url_for('index') }}"> Previous page </a> <!-- linked to the index page -->
</div>
{% endblock %}